.anim-attack {
	animation: sprintForward 0.3s ease-in-out;
}

.anim-attack-reverse {
	animation: sprintBackward 0.3s ease-in-out;
}

.anim-hit {
	animation: hitFlicker 0.4s ease-in-out;
}

/* My Brawler Sprinting Forward (Trái -> Phải) */
@keyframes sprintForward {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(50px) scale(1.1);
	}

	100% {
		transform: translateX(0);
	}
}

/* Enemy Brawler Sprinting Forward (Phải -> Trái) */
@keyframes sprintBackward {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-50px) scale(1.1);
	}

	100% {
		transform: translateX(0);
	}
}

/* Hit Flicker: Lùi lại và Nháy Đỏ */
@keyframes hitFlicker {
	0% {
		filter: drop-shadow(0 0 10px red) brightness(1);
		transform: translateX(0);
	}

	20% {
		filter: drop-shadow(0 0 20px red) brightness(2) invert(0.2);
		transform: translateX(-10px);
	}

	40% {
		filter: drop-shadow(0 0 10px red) brightness(0.5);
		transform: translateX(10px);
	}

	60% {
		filter: drop-shadow(0 0 20px red) brightness(2) invert(0.2);
		transform: translateX(-10px);
	}

	80% {
		filter: drop-shadow(0 0 10px red) brightness(0.5);
		transform: translateX(10px);
	}

	100% {
		filter: drop-shadow(0 0 5px red) brightness(1);
		transform: translateX(0);
	}
}